deep_translator==1.11.4
fastapi==0.141.1
groq==0.30.0
itemadapter==0.3.0
langchain_community==0.4.2
langchain_core==1.6.2
langchain_groq==1.1.3
lxml
numpy==2.5.3
pydantic==2.13.5
PyJWT
python-dotenv==1.2.3
Scrapy==2.11.1
scrapy_playwright==0.0.46
streamlit
uvicorn==0.52.4